*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
img {
    padding: 15px;
    /* width: 100px;
    height: 100px; */
}
.photo1{
    max-width:25%;
    position: relative;
}
.text h4{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.text{
    position: absolute;
    top: 15px;
    right: 15px;
}
.text1{
    position: absolute;
    bottom: 19px;
    left: 15px;
}
.text1 h4{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.icon{
    position: absolute;
    bottom: 60px;
    right: 17px;
    padding: 10px 15px;
    font-size: 30px;
    background-color: white;
    border-radius: 4px;
}
.photo1 img{
    width: 100%;
}
.photo2{
    width: 25%;
    position: relative;
}
.photo2 img{
    width: 100%;
}.photo3{
    width: 25%;
    position: relative;
}
.photo3 img{
    width: 100%;
    
}.photo4{
    width: 25%;
    position: relative;
}
.photo4 img{
    width: 100%;
}

.text1 h3{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.text1 h4{
    width: 286px;
}

